@import url("https://fonts.googleapis.com/css2?family=Molengo&display=swap");

:root {
    --bigwidth: 1440px;
    --notsobigwidth: 1200px;
    --font: "Molengo", sans-serif;
    /*Main colors*/
    --blue: #0c5efb;
    --cyan: #2bf4fe;
    --grey: #e6e6e6;
    /*Secondary colors*/
    --light-blue: #a1d6fe;
    --light-cyan: #89fffc;
    --dark-blue: #002867;
    --dark-cyan: #00608c;
    /*Accent colors*/
    -orange: #f2994a;
    --green: #5cb85c;
    --pink: #f7cac9;
    --red: #e00000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

/*
body *:not(header, header *, footer, footer *, main, section) {
    margin-left: 40px;
}*/

nav {
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    align-items: center;
}

nav div {
    display: flex;
    align-items: center;
}

nav div p {
    font-size: 3em;
    color: var(--blue);
}

nav div svg {
    height: 100px;
    align-items: center;
}

nav ul {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    list-style-type: none;
}

nav ul li {
    margin: 10px;
}

nav ul li a,
nav ul li a:visited {
    color: var(--blue);
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/*Main*/
main {
    margin-top: 10px;
    margin-bottom: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--blue);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.5em;
}

h2+p {
    text-align: center;
    font-size: 1.2em;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

main section {
    height: auto;
    width: 100%;
    margin-bottom: 50px;
}

.container {
    min-width: 1200px;
    max-width: 1440px;
    margin: 0 auto;
    /* background-color: red;*/
}

.container1:first-child {
    display: flex;
    justify-content: center;
}

.container1:first-child svg {
    margin-top: -60px;
    width: 650px;
    height: 650px;
}

section:nth-child(even) {
    background-color: var(--grey);
}

.vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

.top1st {
    justify-content: center;
    text-align: center;

    margin-right: 150px;
    /* background-color: red; */
}

.top1st p {
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    max-width: 400px;
}

.top1st h1 {
    margin: 0 auto;
}

.top1stButtons {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    margin-top: 20px;
    width: 100%;
    height: 50px;
}

.top1stButtons button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: 120px;
}

.top1stButtons button:first-child {
    color: white;
    background-color: var(--dark-blue);
    font-size: 1.5em;
    border: none;
}

.top1stButtons button:last-child {
    color: var(--blue);
    background-color: white;
    border: none;
    font-size: 1.5em;
}

.top1stButtons button:first-child:hover,
.top1stButtons button:last-child:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

/*Ticket section*/




#ticketHeader {
    padding-top: 40px;
}

.ticketcontainer:not(span[itemprop="price"]) {
    display: flex;
    margin: 60px auto 0 auto;

    justify-content: space-between;

    height: 900px;
    /* background-color: blue; */
    width: 1440px;
}

.ticket:not(:nth-child(2)) {
    height: 600px;
    width: 380px;
    background-color: white;
    border-radius: 5px;
}

.ticket:nth-child(2) {
    position: relative;
    height: 680px;
    width: 450px;
    background-color: white;
    border-radius: 5px;
}

.sticker {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -70px;
    right: -40px;
    width: 135px;
    height: 135px;
    background-color: var(--green);
    background-size: contain;
    z-index: 1;
    border-radius: 100px;
}

.sticker p {
    color: white;
    max-width: 120px;
    font-size: 1.8em;
}

.ticket h3 {
    font-size: 3em;
}

.ticket h3+p {
    font-size: 1.5em;
}

p[itemprop="price"] {
    color: var(--dark-cyan);
    margin-left: 40px;
    margin-top: 20px;
    font-size: 2em;
    margin-bottom: 15px;
}

.ticketcontainer .ticket ul {
    margin-left: 10px;
    list-style-type: none;
    list-style-position: outside;
}

.ticketcontainer .ticket ul li svg {
    width: 35px;
    height: 35px;
}

.ticketcontainer .ticket ul li {
    display: flex;
    align-items: center;
}

.ticketcontainer .ticket ul li span {
    margin-left: 5px;
}

.oldprice {
    text-decoration: line-through var(--red);

}

.shmol {
    color: var(--green);
    font-size: 0.5em;
}

form {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -200px;
}

form>div {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

form input {
    width: 350px;
    height: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 2px;
    font-size: 1em;
}

form input[type="submit"] {
    background-color: var(--blue);
    color: white;
}





#speackersSection table {
    margin-top: 50px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

#speackersSection table thead {
    background-color: var(--grey);

}

#speackersSection td,
th {

    text-align: center;
    padding: 8px;

}

#speackersSection tr:nth-child(even) {
    background-color: var(--grey);
    border-radius: 5px;

}


/*Footer*/


footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
}

footer div {
    display: flex;
    align-items: center;
}

footer div p {
    font-size: 3em;
    color: var(--blue);
}

footer div svg {
    height: 100px;
    align-items: center;
}

footer ul {
    margin-right: 30px;
    list-style-type: none;
    text-align: center;
}
footer ul li:first-child {
    font-size: 2em;
    color: var(--blue);
}