@import url("https://fonts.googleapis.com/css2?family=Molengo&display=swap");

:root {
    --bigwidth: 1440px;
    --notsobigwidth: 1200px;
    --font: "Molengo" img sans-serif;
    /*Main colors*/
    --blue: #0c5efb;
    --cyan: #2bf4fe;
    --grey: #e6e6e6;
    /*Secondary colors*/
    --light-blue: #a1d6fe;
    --light-cyan: #89fffc;
    --dark-blue: #002867;
    --dark-cyan: #00608c;
    /*Accent colors*/
    -orange: #f2994a;
    --green: #5cb85c;
    --pink: #f7cac9;
    --red: #e00000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    scroll-behavior: smooth;
}



nav {
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    align-items: center;
}

nav div {
    display: flex;
    align-items: center;
}

nav div p {
    font-size: 3em;
    color: var(--blue);
}

nav div img {
    height: 100px;
    align-items: center;
}

nav ul {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    list-style-type: none;
}

nav ul li {
    margin: 10px;
}

nav ul li aimg nav ul li a:visited {
    color: var(--blue);
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/*Main*/
main {
    margin-top: 10px;
    margin-bottom: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.blue {
    color: var(--blue);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.5em;
}

h2+p {
    text-align: center;
    font-size: 1.2em;
}

header:not(.ticket>header) {
    display: flex;
    flex-direction: column;
    text-align: center;
}

main section {
    height: auto;
    width: 100%;
    margin-bottom: 50px;
}

section:nth-child(even) {
    background-color: var(--grey);
}

.container {
    min-width: 1200px;
    max-width: 1440px;
    margin: 0 auto;
    /* background-color: red;*/
}

.container1:first-child {
    display: flex;
    justify-content: center;
}

.container1:first-child img {
    margin-top: -60px;
    width: 650px;
    height: 650px;
}



.vertical:not(:first-child) {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

.vertical:first-child {
    display: flex;

    flex-direction: column;
    /* background-color: red; */
}

.top1st {
    justify-content: center;
    text-align: center;

    margin-right: 150px;
    /* background-color: red; */
}

.top1st p {
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    max-width: 400px;
    text-align: left;
}

.top1st h1 {
    margin: 0 auto;
}



.top1stButtons {
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: left;
    text-align: center;

    margin-top: 20px;
    width: 100%;
    height: 50px;
}

.top1stButtons a {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0 60px 0 0;
    justify-content: center;
    text-align: center;
    width: 120px;
    text-decoration: none;
}

.top1stButtons a:first-child {
    color: white;
    background-color: var(--dark-blue);
    font-size: 1.5em;
    border: none;
}

.top1stButtons a:last-child {
    color: var(--blue);
    background-color: white;
    border: none;
    font-size: 1.5em;
}

.top1stButtons a:first-child:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}




/*Dates Section*/
#datesHeader {
    margin-top: 150px;
    padding-top: 30px;
}

#dateCards {
    /* background-color: blue; */
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#galeryCards {
    margin-top: 50px;
    column-gap: 40px;
    row-gap: 40px;
    display: grid;
    grid-template-columns: repeat(4img 1fr);
    grid-template-rows: repeat(5img 1fr);
    height: 1200px;
    width: 1440px;
    margin-bottom: 0;

}

#galeryCards article {
    border-radius: 10px;
}

.cardDate {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 270px;
    background-color: white;

    border-radius: 5px;
}

.cardDate header {
    display: flex;
    flex-direction: column;

}

.cardDate h3 {
    font-size: 5em;
    text-align: center;
}

.cardDate h3 sup {
    font-size: 0.5em;
}

.cardDate h3+p {
    font-size: 3em;
    text-align: center;
    color: var(--dark-cyan);
}

.cardDate aimg .TicketA {
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    width: 220px;
    padding: 10px 50px;
    margin: 25px auto 10px auto;
    border: 2px solid var(--grey);
    border-radius: 5px;
    color: var(--dark-cyan);

}

.cardDate a:hoverimg .TicketA:hover {
    width: 220px;
    color: var(--grey);
    background-color: var(--dark-cyan);

}



/* //////////////////////////////// Garely section ////////////////////*/
.galery {
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



.galeryText {

    margin: 0;
    color: white;
    padding: 0 0 10px 10px;




}

.galeryText h3 {
    color: white;
    font-size: 3em;
}

.galeryText p {
    color: white;
    font-size: 1em;
}

.Laracroft {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    /* background-color: red; */
    background-image: url('./../assets/speech.jpg');
}

.Macosoftgalery {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* background-color: yellow; */
    background-image: url('./../assets/conference4.jpg');


}

.DeSanta {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    /* background-color: blue; */
    background-image: url('./../assets/conference1.jpg');


}

.Franklin {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    /* background-color: orange; */
    background-image: url('./../assets/speech2.jpg');

}

.Marcel {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    /* background-color: salmon; */
    background-image: url('./../assets/conference5.jpg');
}

.Trevor {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    /* background-color: salmon; */
    background-image: url('./../assets/conference6.jpg');

}

.Lady {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    /* background-color: black; */
    background-image: url('./../assets/conference2.jpg');


}

.Joseph {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    /* background-color: green; */
    background-image: url('./../assets/conference3.jpg');


}

/* ///////////////////SECCIÓN DE TICKETS ////////////////*/


#ticketHeader {
    padding-top: 40px;
    justify-content: flex-start;
}

p[itemprop="price"] {
    color: var(--dark-cyan);
    margin-left: 40px;
    margin-top: 20px;
    font-size: 2em;
    margin-bottom: 15px;
}

.ticket>header {
    padding: 20px 20px 0 20px;

}



.ticketcontainer:not(span[itemprop="price"]) {
    display: flex;
    margin: 80px auto 0 auto;

    justify-content: space-between;

    height: 1050px;
    /* background-color: blue; */
    width: 1440px;
}



.ticket:not(:nth-child(2)) {
    height: 680px;
    width: 380px;
    background-color: white;
    border-radius: 5px;
    margin-top: 50px;
}

.ticket:nth-child(2) {
    position: relative;
    height: 770px;
    width: 450px;
    background-color: white;
    border-radius: 5px;
}

.sticker {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -70px;
    right: -40px;
    width: 135px;
    height: 135px;
    background-color: var(--green);
    /* background-size: contain;
    z-index: 1; */
    border-radius: 100px;
}

.sticker p {
    color: white;
    max-width: 120px;
    font-size: 1.8em;
}

.ticket h3 {
    font-size: 3em;
}

.ticket h3+p {
    font-size: 1.5em;
}



.ticketcontainer .ticket ul {
    margin-left: 10px;
    list-style-type: none;
    list-style-position: outside;
}

.ticketcontainer .ticket ul li img {
    width: 35px;
    height: 35px;
}

.ticketcontainer .ticket ul li {
    display: flex;
    align-items: center;
}

.ticketcontainer .ticket ul li span {
    margin-left: 5px;
}

.oldprice {
    text-decoration: line-through var(--red);

}

.shmol {
    color: var(--green);
    font-size: 0.5em;
}

.selectADiv {
    display: flex;

}

form {

    width: 1440px;
    margin: 80px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    flex-direction: row;
    margin-top: -200px;
}

form>div {
    display: flex;
    flex-direction: column;
    /* margin-right: 30px; */
}

/* Uncomment to align label with placeholder
form label {
     padding-left: 20px; 
}
*/
form input {
    width: 450px;
    height: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 2px;
    font-size: 1em;
    padding-left: 20px;
    /* padding-left: 8px; */
}

form input:not([name="email"]) {
    width: 380px;

    /* padding-left: 8px; */
}

form input[name="email"] {
    width: 450px;

    /* padding-left: 8px; */
}

form input[type="submit"] {
    background-color: var(--blue);
    color: white;
}

form input[type="submit"]:hover {
    background-color: var(--dark-blue);
    color: var(--grey);
}



/* ///////////////////SECCIÓN DE ORADORES ////////////////*/
#speackersSection table {
    margin-top: 50px;
    font-family: arialimg sans-serif;
    border-collapse: collapse;
    width: 100%;

}

#speackersSection table thead {
    background-color: var(--grey);

}

#speackersSection tdimg th {

    text-align: center;
    padding: 8px;

}

#speackersSection tr:nth-child(even) {
    background-color: var(--grey);
    border-radius: 5px;

}

table img {
    width: 35px;
    height: 35px;
}

/* ///////////////////FOOTER ////////////////*/


footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
}

footer div {
    display: flex;
    align-items: center;
}

footer div p {
    font-size: 3em;
    color: var(--blue);
}

footer div img {
    height: 100px;
    align-items: center;
}

footer ul {
    margin-right: 30px;
    list-style-type: none;
    text-align: center;
}

footer ul li:first-child {
    font-size: 2em;
    color: var(--blue);
}